<!doctype html>
<html lang="en">
    <head>
        <title>The Battleship</title>
    </head>
    <body>
        <div id="app">{{ message }}</div>
        <script src="dist/main.js"></script>
    </body>
</html>
